*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #008BFF;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}


.pass{
  width: 550px;
  padding: 30px;
  background-color: #5B23FF;
  color: black;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.pass h2{
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
  color: #ffffff;
  font-family: 'Segoe UI', 'Poppins', 'Montserrat', sans-serif;
}



.passboxin{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.passboxin input{
  height: 60px;
  width: 340px;
  padding-left: 14px;
  border-radius: 12px;
  background-color: #362F4F;
  font-size: 20px;
  color: white;
  border: none;
  outline: none;
}

.passboxin button{
  width: 65px;
  height: 60px;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}


.passlength{
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.passlength label{
  flex-basis: 75%;
}

.passlength input{
  flex-basis: 25%;
}
.passlength input[type="checkbox"]{
  width: 26px;
  height: 26px;
  transform: scale(1.6); 
  cursor: pointer;
}


.box{
  height: 55px;
  width: 90px;
  font-size: 20px;
  color: white;
  background-color: #362F4F;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.btn{
  width: 100%;
  height: 55px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  background-color: #00E5FF;
  color: black;
}

.btn:hover{
  background-color: #00cfe6;
}
